.env
/python_code/plots
/python_code/revised_pipeline/checkpoints
/python_code/revised_pipeline/checkpoints
/python_code/old_data
*.pkl
/python_code/.ipynb_checkpoints
/.idea
*.csv
/python_code/__pycache__
/python_code/revised_pipeline/__pycache__
